:root {
    --background: #040713;
    --divBackground: #151529;
    --divOutline: #404664;
    --fontColor: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--fontColor);
    font-family: Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding-bottom: 12px;
}

header h1 {
    font-size: 25px;
}

#pokedex-container {
    width: 440px;
    border-radius: 30px;
    background-color: #151529;
    margin: auto;
    padding: 20px;
}

#search-container {
    text-align: center;
    font-size: 20px;
}

#search-input {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    width: 270px;
    background-color: var(--background);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--divOutline);
    color: var(--fontColor);
    text-align: center;
    height: 30px;
}

#search-input:focus {
    outline: none;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 5px #5c5c5c;
}

.line-seperator {
    border-bottom: 1px solid var(--divOutline);
    padding-top: 15px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    color: white;
    background-color: #222b4c;
    margin: 15px auto;
    border-color: #cacaca;
    padding-bottom: 0;
}

button:hover {
    box-shadow: 0 0 5px #cacaca;
    cursor: pointer;
}

#pokemon-general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    align-items: center;
    margin-top: 30px;
    padding-top: 10px;
    background-color: #161a2b;
    border: 1px solid var(--divOutline);
    border-radius: 15px;
}

#name-id {
    font-size: 18px;
}

#weight-height {
    font-size: 13px;
}

img {
    width: 125px;
}

#types span {
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: center;
    text-shadow: 1px 1px black;
    padding-top: 5px;
    border-radius: 10px;
    margin: 0 2px 15px 2px;
}

/*
    Pokemon type colours 
    credit: 
    https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3
*/

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}

#pokemon-stat {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    background-color: #161a2b;
    border-collapse: inherit;
    border-spacing: 0;
    border-radius: 15px;
}

table td, table th {
    border: 1px solid var(--divOutline);
    padding: 8px;
    text-align: center;
}

table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}