body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #2d2d39;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1, p {
    margin: 23px 0;
    text-align: center;
    padding-top: -150px;
    padding-bottom: 1rem;
  }

div {
    max-width: 80vh;
    width: 800px;
    margin: auto;
    padding: 10px;

}

label {
    display: block;
    margin: 1rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 98.9%;
  min-height: 2em;
  padding-right: -10px;
  border: 1px solid #0a0a23;
}



input[type="number"] {
    width: 200px;
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: white;
    background-color: #3b3b4f;
    border-color: white;
  }

.inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle; 
  }